h1 {
    background-image: url("E:\Users\JrjZi\Projects\Dasmoto'sArts&Crafts\resources\Images\pattern.webp");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    
}
#Brushes {
    background-color: mediumspringgreen;
}
#Frames {
    background-color: lightcoral;
}
#Paint {
    background-color: skyblue;
}
h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#pricing {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}